@media (max-width: 612px) {
    #tasks-container {
        display: block !important;
        width: 100% !important;
    }

    #tasks-container .card {
        width: 100% !important;
    }

    .welcome-text {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .welcome-text h1 {
        font-size: 70px;
        font-weight: 900;
        letter-spacing: 2px;
        text-shadow: 0 4px 4px black;
        text-align: center;
    }
}

@media (min-width: 613px) {
    #tasks-container {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        width: 100%;
    }

    #tasks-container .card {
        width: 244px !important;
    }

    .welcome-text h1 {
        font-size: 80px;
        font-weight: 900;
        letter-spacing: 2px;
        text-shadow: 0 4px 4px black;

    }
}

@media (min-width: 1200px) {
    #tasks-container {
        width: 900px;
    }

    #tasks-container .card {
        width: 244px !important;
    }


}